<h1> New Book </h1>
<%= form_for @book, :html => { :multipart => true } do |b| %>
  <%= b.label :title%>
  <%= b.text_field :title%>
  <%= b.label :description%>
  <%= b.text_field :description%>
  <%= b.file_field :book_cover%>
  Author:
    <%= b.fields_for :author_attributes do |authors_form| %>
        <%= authors_form.label :name %>
        <%= authors_form.text_field :name %>
    <% end %>
 <%= b.submit "Create Book"%>
<% end %>